.top-nav-link {
  color: white !important;
  text-decoration: none;
}

.top-link-social {
  padding: 0 16px;
  color: #eaecf5;
  font-size: 14px !important;
  text-decoration: underline;
  text-decoration-color: #fff;
}

.top-link-active {
  color: rgb(173, 211, 255) !important;
}

.mat-button {
  outline: none !important;

  &:focus {
    background-color: none;
    border: 0;
  }
  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
  ::ng-deep .mat-button-focus-overlay {
  //   display: none !important;
  //   border: none !important;
  //   background-color: transparent;
  }

}
