<!-- Top Navbar sticks to top of screen -->
<mat-toolbar color="primary" sticky>
  <mat-toolbar-row class="top-nav-toolbar">
    <button
      type="button"
      (click)="onToggleSidenav()"
      style="border: none; background-color: transparent"
      *ngIf="columns$ && (columns$ | async) === 1"
      aria-label="drop-down menu button"
    >
      <app-svg-menu />
    </button>
    <a
      class="top-nav-link no-hover-effect"
      [routerLink]="['/home']"
      [routerLinkActiveOptions]="{ exact: true }"
      href="/home"
      routerLinkActive="top-link-active"
      aria-label="home nav button"
      mat-button
      [disableRipple]="true"
      >AB</a
    >
    <span>
      <mat-slide-toggle
        (change)="onDarkModeSwitched($event)"
        aria-label="dark mode toggle button"
        color="warn"
        style="margin: 0 4px"
        ><app-svg-dark style="margin-left: 4px"></app-svg-dark
      ></mat-slide-toggle>
    </span>

    <!-- The following menu items will be hidden on both SM and XS screen sizes -->
    <div class="top-nav-rhs" *ngIf="columns$ && (columns$ | async) !== 1">
      <a
        class="top-nav-link"
        [routerLink]="['/projects']"
        href="/projects"
        routerLinkActive="top-link-active"
        aria-label="projects nav button"
        mat-button
        [disableRipple]="true"
        >Projects</a
      >
      <a
        class="top-nav-link"
        [routerLink]="['/skills']"
        href="/skills"
        routerLinkActive="top-link-active"
        aria-label="skills nav button"
        mat-button
        [disableRipple]="true"
        >Skills</a
      >
      <a
        class="top-nav-link"
        [routerLink]="['/contact']"
        href="/contact"
        routerLinkActive="top-link-active"
        aria-label="contact nav button"
        mat-button
        [disableRipple]="true"
        >Contact</a
      >
      <a
        class="top-nav-link"
        [routerLink]="['/posts']"
        href="/posts"
        routerLinkActive="top-link-active"
        aria-label="posts nav button"
        mat-button
        [disableRipple]="true"
        >Posts</a
      >
      <!-- <a
        class="top-link-social"
        href="https://www.github.com/andrewjbateman"
        target="_blank"
        rel="noreferrer"
        aria-label="link to github profile"
        >Github</a
      >
      <a
        class="top-link-social"
        href="https://www.linkedin.com/in/andrew-bateman"
        target="_blank"
        rel="noreferrer"
        aria-label="link to linkedin profile"
        >LinkedIn</a
      > -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
