<!-- Top Navbar sticks to top of screen -->
<mat-toolbar color="primary" sticky>
  <button
    (click)="onToggleSidenav()"
    style="border: none; background-color: transparent;"
    fxHide.gt-sm
    aria-label="drop-down menu button"
  >
    <app-svg-menu></app-svg-menu>
  </button>
  <a
    class="top-nav-link no-hover-effect"
    routerLink="/home"
    routerLinkActive="top-link-active"
    aria-label="home nav button"
    mat-button
    [disableRipple]="true"
  >
    <h2>AB</h2>
  </a>
  <span>
    <mat-slide-toggle
      (change)="onDarkModeSwitched($event)"
      aria-label="dark mode toggle button"
      color="warn"
      style="margin: 0 4px"
      ><app-svg-dark style="margin-left: 4px"></app-svg-dark
    ></mat-slide-toggle>
  </span>

  <div fxFlex fxLayout fxLayoutAlign="end">
    <div fxHide.lt-md>
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a
        class="top-nav-link"
        routerLink="/projects"
        routerLinkActive="top-link-active"
        aria-label="projects nav button"
        mat-button
        [disableRipple]="true"
        >Projects</a
      >
      <a
        class="top-nav-link"
        routerLink="/skills"
        routerLinkActive="top-link-active"
        aria-label="skills nav button"
        mat-button
        [disableRipple]="true"
        >Skills</a
      >
      <a
        class="top-nav-link"
        routerLink="/contact"
        routerLinkActive="top-link-active"
        aria-label="contact nav button"
        mat-button
        [disableRipple]="true"
        >Contact</a
      >
      <a
        class="top-link-social"
        href="https://www.github.com/andrewjbateman"
        target="_blank"
        rel="noreferrer"
        aria-label="link to github profile"
        >Github</a
      >
      <a
        class="top-link-social"
        href="https://www.linkedin.com/in/andrew-bateman"
        target="_blank"
        rel="noreferrer"
        aria-label="link to linkedin profile"
        >LinkedIn</a
      >
      <a
        class="top-nav-link"
        routerLink="/blog"
        routerLinkActive="top-link-active"
        aria-label="blog nav button"
        mat-button
        [disableRipple]="true"
        >Blog</a
      >
    </div>
  </div>
</mat-toolbar>
