.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  .contact-card {
    width: 60em;
    height: 35em;
    margin: 1em;
    overflow: hidden;
    display: flex;
    flex-direction: row;
  }

  @media (max-width: 60em) {
    .contact-card {
      width: fit-content;
      height: fit-content;
      margin: 1em;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
  }

  .mat-form-field {
    font-size: 14px;
  }

  .email-section {
    width: 30em;
    padding-left: 5px;

    // .mat-raised-button {
    //   width: 10em;
    // }

    .mat-card-title {
      margin: 0.5em 0 1em 0;
      font-size: 20px;
      padding-right: 1em;
    }
  }

  @media (max-width: 40em) {
    .message-section {
      width: fit-content;
      padding-left: 0;
    }
  }

  // .contact-button {
  //   padding-top: 8px;
  // }

  .accent-button {
    margin-right: 2rem;
    background-color: #0d47a1;
  }

  .primary-button {
    background-color: #455a64;
  }

  .button-text {
    color: white;
  }

  .map-section {
    width: 30em;
    display: flex;
    flex-direction: column;

    .mat-card-subtitle {
      margin: 1em 0 0 0;
      font-size: 18px;
      align-items: center;
      text-align: center;
    }
  }

  @media (max-width: 40em) {
    .map-section {
      width: fit-content;
      padding-left: 0;
    }
  }

  .section-divider {
    padding: 10px;
  }

  @media (max-width: 60em) {
    .section-divider {
      visibility: hidden;
      padding: 20px;
    }
  }

  .map-location {
    margin: 0 0 1em 1em;
    min-width: min-content;
  }

  @media (max-width: 60em) {
    .map-location {
      margin: 0 0 2em 0;
      width: fit-content;
    }
  }

  .line {
    height: 1px;
    width: 50%;
    background-color: #455a64;
  }

  .contact-links {
    margin-bottom: 1em;
  }
}
