<head>
	<meta
		name="description"
		content="Skills page displays programming, IT and cloud computing skills in an Angular Material card grid." />
</head>
<div class="responsive-grid" [style.--columns]="BreakpointColumnNr$ | async">
	@for (skill of skills$ | async; track trackSkillById) {
		<ng-container>
			<mat-card appearance="outlined" class="skill-card mat-elevation-z5">
				<mat-card-content>
					<p class="skill-area">
						{{ skill.area }}
					</p>
					<p class="skill-content">{{ skill.content }}</p>
				</mat-card-content>
			</mat-card>
		</ng-container>
	} @empty {
		<div>Loading...</div>
	}
</div>
