mat-card {
  margin: 5px;
  padding: 8px;
}

.main-heading {
  text-align: center;
  margin: 8px auto 0 auto;
}

.main-subheading {
  text-align: center;
  color: #455A64;
  margin-bottom: 5px;
}

.main-para {
  margin: 13px;
}

img {
  width: 90%;
  height: auto;
  display: block;
  margin: 10px;
}

.para-indent {
  margin: 0 0 5px 0;
}
