mat-card {
  margin: 10px;
}

mat-card-title {
  text-align: center;
}

mat-card-subtitle {
  text-align: center;
  color: blue;
}

img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 10px auto;
  box-shadow: 0 0 10px #0D47A1;
}

.indent {
  margin-left: 5px;
}