<div class="about-container">
  <mat-card>
    <img class="img-thumbnail" src="/assets/images/about-profile.jpg" alt="photo of Andrew Bateman">
    <mat-card-header>      
      <mat-card-title>Andrew Bateman</mat-card-title>
      <mat-card-subtitle [ngStyle]="{'color': 'blue'}">
        Programmer | Engineer
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>I am a programmer with a background in Electrical Engineering. This website explains my technical background and what I have learnt and built in the past few years of studying programming.<p>
      <p>After over 20 years as an electronic/electrical Engineer (see below), I started studying programming in 2016. Using on-line resources such as [TeamTreehouse](https://teamtreehouse.com) I learnt about HTML, CSS, Javascript, PHP, Wordpress, SQL, Android, iOS Development with Swift, Ruby, Rails, C#, ASP.NET.</p>
    </mat-card-content>
  </mat-card>
  
  <mat-card>
    <mat-card-content>
      <p>
        <span [ngStyle]="{'color': 'blue', 'font-size': '20px'}">
          FreecodeCamp 
        </span>After many months of part-time study I obtained my certificate in june 2018, which included the following:
      </p>
      <p class="indent">
        <span [ngStyle]="{'color': 'purple'}">
            Responsive Web Design: 
        </span>HTML and CSS then Applied Visual Design, Accessibility, 4 Responsive Web Design Challenges, CSS Flexbox, CSS Grid
      </p>
      <p class="indent">
        <span [ngStyle]="{'color': 'purple'}">
          Responsive Web Design: 
        </span>HTML and CSS then Applied Visual Design, Accessibility, 4 Responsive Web Design Challenges, CSS Flexbox, CSS Grid
      </p>
      <p class="indent">
        <span [ngStyle]="{'color': 'purple'}">
          Javascript Algorithms & Data Structures:  
        </span>ES6, Regular Expressions, Debugging, Basic Data Structures, Algorithms, Object Orientated and Functional Programming, 5 projects
      </p>
      <p class="indent">
        <span [ngStyle]="{'color': 'purple'}">
          Front End Libraries:   
        </span>Bootstrap, jQuery, SASS, React, Redux, 5 projects
      </p>
      <p class="indent">
        <span [ngStyle]="{'color': 'purple'}">
          Data Visualization:  
        </span>D3, JSON APIs and AJAX and 5 projects
      </p>
      <p class="indent">
        <span [ngStyle]="{'color': 'purple'}">
          APIs and Microservices: 
        </span>npm, Node, Express, MongoDB, Mongoose and 5 projects
      </p>
      <p class="indent">
        <span [ngStyle]="{'color': 'purple'}">
          Information Security and Quality Assurance:  
        </span>HelmetJS, Chai, Advanced Node and Express, 5 projects
      </p>


      </mat-card-content>
    </mat-card>

</div>
