<head>
  <meta
    name="description"
    content="Home page gives a brief history of my technical background and years spent learning to code part-time. Shows what I learnt using Material cards"
  />
  <meta name="theme-color" content="#317EFB" />
</head>

<div class="home-container">
  <!--Top Section-->
  <mat-card>
    <mat-card-content>
      <p class="top-card-title">
        <img
          src="assets/images/approved-profile.svg"
          alt="profile photo"
          style="width: 40px; height: 40px"
        />
        Andrew Bateman
      </p>
      <p class="top-card-content">
        <span class="card-bold-text"
          >Full-Stack Development | Engineering | Cloud | IT.</span
        > I have been studying programming part-time for a number of years,
        completing lots of online courses & tutorials from FreeCodeCamp,
        Treehouse, Udemy, Coursera and Youtube etc. I also gained
        Google Associate Cloud Engineer Certification. I have hundreds of
        repositories on Github with a mixture of my own projects and tutorial
        code.
      </p>
      <p class="general-card-content">
        Programming was not new to me as I previously worked for 20 years as an
        Electronic/Electrical Engineer in the UK, Spain and finally in Norway
        (including 2 years in Hammerfest, the Northermost town in the world).
        After this I returned to Spain to look after the family (including a
        child with a rare disease called Landau Kleffner) & continue
        programming.
      </p>
      <p class="general-card-content">
        There is more about my Programming, Engineering & IT below. The aim of
        this website is to show some of my projects and a little about me,
        without repeating what is in Linkedin or Github. This website was built
        with an Angular front-end and a Firebase backend - see Projects for more
        info. This site has a technical blog with categories: Programming
        Development, IT and Engineering.
      </p>
    </mat-card-content>
  </mat-card>
  <!--Bottom section: mat-card for each area with data-binding from area.module.ts-->
  <div *ngFor="let area of areas; trackBy: trackByFn">
    <mat-card>
      <mat-card-content>
        <p class="general-card-title">
          <img
            [src]="area.svgPath"
            style="width: 30px; height: 30px"
            alt="icon of {{ area.title }}"
          />
          {{ area.title }}
        </p>
        <p class="general-card-content">{{ area.content }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
