
<div fxFlex fxLayout="column" fxLayoutGap="5px">
  <div fxLayout="row wrap">
    <div
      fxFlex="100"
      fxLayout="column"
      style="padding: 5px;">
      <!--mat-card for title and summary-->
      <mat-card class="mat-elevation-z1">
        <mat-card-header>
          <div mat-card-avatar class="header-image" alt="photo of Andrew Bateman"></div>
          <mat-card-title class="project-title">
              {{ project.title }}
            </mat-card-title>
            <mat-card-subtitle class="project-subtitle">
              Summary
            </mat-card-subtitle>
          </mat-card-header>
    
          <mat-card-content>
            <p class="project-content">{{ project.summary }} Individual pages are explained in the mat-cards below.</p>
          </mat-card-content>
        </mat-card>
    </div>
  </div>

  <hr class="horiz-line">

  <div fxLayout="row wrap">
    <div
      *ngFor="let image of project.images; let i = index;"
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;">
      
      <!--mat-card for each project page with data-binding from projects.ts-->
      <mat-card>
        <div class="image-div">
          <img class="mat-card-image" [src]="project.images[i].src" [alt]="project.images[i].page">
          <div class="project-image-text">{{ project.images[i].page }}</div>
        </div>
        <mat-card-content>
          <!-- <p class="strong-style">{{ project.images[i].page }}</p> -->
          <p class="content-style">{{ project.images[i].content  | slice:0:310 }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
