<!-- <div class="container">
  <mat-card class="project-summary-card">
    <mat-card-header>
      <mat-card-title>
        {{ project.title }}
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</div> -->

<div fxFlex fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row wrap">
    <div
      *ngFor="let image of project.images; let i = index;"
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;">
      <!--mat-card for each project with data-binding from projects.ts-->
      <mat-card>
        <div class="image-div">
          <img mat-card-image [src]="project.images[i].src" [alt]="project.images[i].page">
          <div class="project-image-text">{{ project.images[i].page }}</div>
        </div>
        <mat-card-content>
          <!-- <p class="strong-style">{{ project.images[i].page }}</p> -->
          <p class="content-style">{{ project.images[i].content }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
