.project-title {
  font-size: 20px !important;
  margin: 0 0 4px !important;
}

.project-subtitle {
  font-size: 16px !important;
  margin: 0 !important;
}

.project-content {
  margin: 16px 0 0 !important;
  white-space: pre-wrap;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.project-title-avatar {
  background-image: url("/assets/images/me-outside.jpg");
  background-size: cover;
}

.mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mat-card-image {
  flex-shrink: 0;
}

.mat-card-actions {
  margin: 0 !important;
}

.image-div {
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
}

.title-style {
  margin: 0 0 8px;
}
.content-style {
  white-space: pre-wrap;
  margin: 0;
}

.project-open-browser {
  background-color: green;
}
