.project-title {
  color: #0d47a1;
  font-size: 20px !important;
  margin: 0 0 4px !important;
}

.project-subtitle {
  color: #0d47a1;
  font-size: 16px !important;
  margin: 0 !important;
  text-decoration: underline;
  text-decoration-color: rgb(245, 200, 241);
}

.project-content {
  margin: 16px 0 0 !important;
  white-space: pre-wrap;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.header-image {
  background-image: url('/assets/images/me-outside.jpg');
  background-size: cover;
}

.horiz-line {
  margin: 5px;
  border: 2px solid rgb(245, 200, 241);
}

.mat-card-image {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: rgb(245, 200, 241);
}

.image-div {
  position: relative;
  width: 100%;
  text-align: center;
  color: white;
}

.content-style {
  white-space: pre-wrap;
  height:155px;
}

/* Bottom right text */
.project-image-text {
  position: absolute;
  bottom: 26px;
  right: -10px;
  font-size: 20px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.55); /* Black background with 0.5 opacity */
  color: white; /* Grey text */
  padding-left: 4px;
  padding-right: 4px;
}