<head>
  <meta
    name="description"
    content="Project Detail page gives more detail about the project, including screen shots."
  />
</head>

<div fxFlex fxLayout="column" fxLayoutGap="5px">
  <div fxLayout="row wrap">
    <div fxFlex="100" fxLayout="column" style="padding: 5px;">
      <!--mat-card for title and summary-->
      <mat-card class="mat-elevation-z1">
        <mat-card-header>
          <div
            mat-card-avatar
            class="project-title-avatar"
            alt="photo of Andrew Bateman"
          ></div>
          <mat-card-title class="project-title">
            {{ project.title }}
          </mat-card-title>
          <mat-card-subtitle class="project-subtitle">
            Project Summary
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p class="project-content">
            {{ project.summary }}
          </p>
        </mat-card-content>

        <mat-card-actions align="end">
          <button
            mat-flat-button
            color="accent"
            (click)="returnToList()"
            aria-label="Back button"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
          <div fxFlex></div>
          <a
            mat-flat-button
            [href]="project.github"
            target="_blank"
            rel="noreferrer"
            color="primary"
            aria-label="link to GitHub page"
          >
            <mat-icon>code</mat-icon>
          </a>
          <div fxFlex></div>
          <a
            mat-flat-button
            [disabled]="project.title == 'This Website'"
            [href]="project.url"
            target="_blank"
            rel="noreferrer"
            class="project-open-browser"
            aria-label="link to app web page"
          >
            <mat-icon style="color: white;">open_in_browser</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <hr class="horiz-line" />

  <div fxLayout="row wrap">
    <div
      *ngFor="let image of project.images; let i = index"
      fxFlex="50"
      fxFlex.md="50"
      fxFlex.sm="100"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!--mat-card for each project page with data-binding from projects.ts-->
      <mat-card>
        <div class="image-div">
          <img
            class="mat-card-image"
            [src]="project.images[i].src"
            [alt]="project.images[i].page"
          />
        </div>
        <mat-card-content style="height: 100%;">
          <h3 class="title-style">
            {{ project.images[i].page }}
          </h3>
          <div>
            <p [ngClass.sm]="{ 'spare-style': true }" class="content-style">
              <!-- {{ project.images[i].content | slice: 0:500 }} -->
              {{ project.images[i].content }}
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
