<head>
  <meta
    name="projects"
    content="Projects page shows some of my recent projects using Angular cards. Clicking on a card will show the project in more detail or navigate to the GitHub code or the app website."
  />
</head>

<div fxFlex fxLayout="column" fxLayoutGap="10px">
  <h2>
    <mat-icon color="accent" class="project-title-icon">
      work </mat-icon
    >Recent Projects
  </h2>
  <hr class="horiz-line" />
  <div fxLayout="row wrap">
    <div
      *ngFor="let project of projects; index as projectId"
      fxFlex="50"
      fxFlex.md="50"
      fxFlex.sm="100"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 10px;"
    >
      <!--mat-card for each project with data-binding from projects.ts.
        Project summary length is truncated using Angular slice pipe-->
      <mat-card>
        <div class="project-image">
          <img
            class="mat-card-image"
            [src]="project.images[0].src"
            [alt]="project.images[0].page"
          />
          <div class="project-image-text">
            <mat-icon class="project-image-icon">{{ project.icon }}</mat-icon>
            <span style="margin-left: 4px;">
              {{ project.title }}
            </span>
          </div>
        </div>
        <mat-card-content>
          <p class="project-content">
            <mat-icon class="project-content-icon">
              {{ project.icon }}</mat-icon
            >
            {{ project.summary | slice: 0:270 }}...
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a
            mat-flat-button
            [routerLink]="['/projects', projectId]"
            color="accent"
            aria-label="See more detail"
          >
            <mat-icon>more_horiz</mat-icon>
          </a>
          <div fxFlex></div>
          <a
            mat-flat-button
            [href]="project.github"
            target="_blank"
            rel="noreferrer"
            color="primary"
            aria-label="link to GitHub page"
          >
            <mat-icon>code</mat-icon>
          </a>
          <div fxFlex></div>
          <a
            mat-flat-button
            [disabled]="
              project.title == 'This Website' ||
              project.title == 'Github Info App'
            "
            [href]="project.url"
            target="_blank"
            rel="noreferrer"
            class="project-open-browser"
            aria-label="link to app web page"
          >
            <mat-icon style="color: white;">open_in_browser</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
