<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 100vh">
  <div fxLayout="row wrap">
    <div
      *ngFor="let project of projects; index as projectId"
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <!--mat-card for each project with data-binding from projects.ts-->
      <mat-card>
        <img class="mat-card-image" [src]="project.img.src" [alt]="project.img.alt">
        <mat-card-content>
          <p class="strong-style">{{ project.title }}: </p>
          <p class="content-style">{{ project.content | slice:0:270 }}...</p>
        </mat-card-content>
        <mat-card-actions>
          <a
            mat-flat-button
            [routerLink]="['/projects', projectId]"
            target="_blank"
            rel="noreferrer"
            color="accent">
            <mat-icon>more_horiz</mat-icon>
          </a>
          <div fxFlex></div>
          <a 
            mat-flat-button
            [href]="project.github"
            target="_blank"
            rel="noreferrer"
            color="primary">
            <mat-icon>code</mat-icon>
          </a>
          <div fxFlex></div>
          <a 
          mat-flat-button
          [href]=""
          target="_blank"
          rel="noreferrer"
          class="project-open-browser">
          <mat-icon style="color: white;">open_in_browser</mat-icon>
        </a>
        </mat-card-actions>
      </mat-card>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
