// card styling
.mat-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 8px;

  .project-card-svg {
    width: 30px;
    height: 30px;
    margin-right: 4px;
  }

  .project-card-title {
    font-size: 18px;
  }

  .mat-card-content {
    flex-grow: 1;
    overflow: auto;
    white-space: pre-wrap;
  }

  .project-card-link {
    color: #0468db
  }
}
