<div fxFlex fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row wrap">
    <div
      *ngFor="let project of projects; index as projectId"
      fxFlex="50"
      fxFlex.md="50"
      fxFlex.sm="100"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;">
      
      <!--mat-card for each project with data-binding from projects.ts-->
      <mat-card>
        <div class="image-div">
          <img class="mat-card-image" [src]="project.images[0].src" [alt]="project.images[0].page">
          <div class="project-image-text"><mat-icon class="icon-display">{{ project.icon }}</mat-icon>  {{ project.title }}</div>
        </div>
        <mat-card-content>
          <p class="content-style">{{ project.summary | slice:0:270 }}...</p>
        </mat-card-content>
        <mat-card-actions>
          <a
            mat-flat-button
            [routerLink]="['/projects', projectId]"
            color="accent">
            <mat-icon>more_horiz</mat-icon>
          </a>
          <div fxFlex></div>
          <a 
            mat-flat-button
            [href]="project.github"
            target="_blank"
            rel="noreferrer"
            color="primary">
            <mat-icon>code</mat-icon>
          </a>
          <div fxFlex></div>
          <a 
            mat-flat-button
            [disabled]="project.title == 'This Website'"
            [href]="project.url"
            target="_blank"
            rel="noreferrer"
            class="project-open-browser">
            <mat-icon style="color: white;">open_in_browser</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
