mat-card-actions {
  padding: 0;
  margin: auto 0 0;
}

.mat-card-image {
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: rgb(245, 200, 241);
}

a.mat-flat-button {
  margin-bottom: 8px;
}

.image-div {
  position: relative;
  max-width: 100%;
  text-align: center;
  color: white;
}

/* Bottom right text */
.project-image-text {
  position: absolute;
  bottom: 30px;
  right: -10px;
  font-size: 20px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.55); /* Black background with 0.5 opacity */
  color: white; /* Grey text */
  padding-left: 4px;
  padding-right: 4px;
}

.content-style {
  white-space: pre-wrap;
  height:130px;
}

.project-open-browser {
  background-color: green;
}