@import "../../styles.scss";

.main-div{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horiz-line {
  width: 95%;
  margin-bottom: 1em;
  border: 2px solid rgb(245, 200, 241)
}

.contact-card {
  justify-content: center;
}