<!-- Top Navbar sticks to top of screen -->
<mat-toolbar color="primary" sticky>
  <button
    mat-icon-button
    (click)="onToggleSidenav()"
    fxHide.gt-sm
    aria-label="drop-down menu button"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a
    class="top-nav-link"
    routerLink="/home"
    routerLinkActive="top-link-active"
    aria-label="home nav button"
    mat-button
  >
    <h2>AB</h2>
  </a>

  <div *ngIf="displayLogin">
    <div *ngIf="auth.afAuth.authState | async as user; else showLogin">
      <button
        mat-icon-button
        routerLink="/dashboard"
        aria-label="edit blog post button"
      >
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-button
        aria-label="Logout button"
        (click)="auth.logout()"
        aria-label="log-out button"
      >
        Logout
      </button>
    </div>
    <ng-template #showLogin>
      <button
        mat-button
        aria-label="Login button"
        (click)="auth.login()"
        aria-label="login button"
      >
        Login
      </button>
    </ng-template>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="end">
    <div fxHide.lt-md>
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <a
        class="top-nav-link"
        routerLink="/projects"
        routerLinkActive="top-link-active"
        aria-label="projects nav button"
        mat-button
        >Projects</a
      >
      <a
        class="top-nav-link"
        routerLink="/skills"
        routerLinkActive="top-link-active"
        aria-label="skills nav button"
        mat-button
        >Skills</a
      >
      <a
        class="top-nav-link"
        routerLink="/contact"
        routerLinkActive="top-link-active"
        aria-label="contact nav button"
        mat-button
        >Contact</a
      >
      <a
        class="top-link-social"
        href="https://www.github.com/andrewjbateman"
        target="_blank"
        rel="noreferrer"
        >Github</a
      >
      <a
        class="top-link-social"
        href="https://www.linkedin.com/in/andrew-bateman"
        target="_blank"
        rel="noreferrer"
        >LinkedIn</a
      >

      <a
        class="top-link-social"
        href="../../../assets/images/AndrewBatemanResume.pdf"
        target="_blank"
        rel="noreferrer"
        >CV</a
      >
      <a
        class="top-nav-link"
        routerLink="/blog"
        routerLinkActive="top-link-active"
        aria-label="blog nav button"
        mat-button
        >Blog</a
      >
    </div>
  </div>
</mat-toolbar>
