mat-icon {
  padding: 0 4px;
}

.nav-icon {
  padding: 0 14px;
}

.span-spacer {
  flex: 1 1 auto;
}

.nav-link {
  color: white;
  font-size: 14px;
}

.active {
  color: rgb(245, 200, 241);
}

.nav-link-social {
  padding: 0 16px;
  font-size: 14px;
  color: #cccff1;
}
