mat-icon {
  padding: 0 4px;
}

.top-nav-link {
  color: white;
  font-size: 14px;
}

.top-link-social {
  padding: 0 16px;
  font-size: 14px;
  color: #eaecf5;
}

.top-link-active {
  color: rgb(81, 248, 76);
}
