<div class="main-div">
  <mat-card class="notFound-card">
    <mat-card-header>
      <mat-card-title>
        <mat-icon color="accent">error</mat-icon>404: page not found
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-nav-list>
        <a mat-flat-button class="nav-link" routerLink="/home" color="primary" aria-label="Navigate to home button">
          <mat-icon>home</mat-icon>Go Home
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>
