mat-card-header{
  padding: 12px 12px 0 12px;
}
mat-card-title {
  text-align: center;
  margin-bottom: !important 0;
  color: white;
}
.card-eng {
  background-color: #690726;
}
.card-prog {
  background-color: #0D47A1;
}