h2 {
  margin: 10px auto 0 auto;
  color: #0D47A1;
  position: center;
}
.card-eng {
  color: #690726;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: #0D47A1;
}
.card-prog {
  color: #0D47A1;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: rgb(245, 200, 241);
}
.horiz-line {
  margin: 0 5px;
  border: 2px solid rgb(245, 200, 241)
}

.content-style {
  height:80px
}
