/* for sidenav to take a whole page */
.root-container{
  min-height: calc(100vh);

  .container {
    padding-bottom: 56px;

    mat-sidenav-container {
      height: 100vh;
    }
  }

}

// html, body, app-root {
//   height: 100%;
// }
// body {
//   margin-bottom: 0;
//   margin-top: 0;
// }

