<mat-nav-list
  style="background-color: #455a64 !important; height: 100%; position:fixed; min-height: 100vh"
  (click)="onSidenavClose()"
  ><img
    class="mat-elevation-z8 sidenav-image"
    src="../../../../assets/svgs/angular.svg"
    alt="profile image"
    style="background-color: white !important; width: 60px; height: 60px"
  />

  <mat-divider class="sidenav-divider"></mat-divider>
  <a
    mat-list-item
    class="side-nav-link"
    [routerLink]="['/home']"
    [routerLinkActiveOptions]="{ exact: true }"
    href="/home"
    routerLinkActive="side-link-active"
    (click)="onSidenavClose()"
  >
    <app-svg-home></app-svg-home>
    AB
  </a>
  <a
    mat-list-item
    class="side-nav-link"
    [routerLink]="['/projects']"
    href="/projects"
    routerLinkActive="side-link-active"
    (click)="onSidenavClose()"
  >
    <app-svg-work></app-svg-work>
    Projects
  </a>
  <a
    mat-list-item
    class="side-nav-link"
    [routerLink]="['/skills']"
    href="/skills"
    routerLinkActive="side-link-active"
    (click)="onSidenavClose()"
  >
    <app-svg-project></app-svg-project>
    Skills
  </a>
  <a
    mat-list-item
    class="side-nav-link"
    [routerLink]="['/contact']"
    href="/contact"
    routerLinkActive="side-link-active"
    (click)="onSidenavClose()"
  >
    <app-svg-mail></app-svg-mail>
    Contact
  </a>
  <a
    mat-list-item
    class="side-nav-link"
    [routerLink]="['/blog']"
    href="/blog"
    routerLinkActive="side-link-active"
    (click)="onSidenavClose()"
  >
    <app-svg-blog></app-svg-blog>
    Blog
  </a>
  <mat-divider class="sidenav-divider"></mat-divider>
  <a
    mat-list-item
    class="side-link-social"
    href="https://www.github.com/andrewjbateman"
    target="_blank"
    rel="noreferrer"
  >
    <app-svg-github></app-svg-github>
    Github
  </a>
  <a
    mat-list-item
    class="side-link-social"
    href="https://www.linkedin.com/in/andrew-bateman"
    target="_blank"
    rel="noreferrer"
  >
    <app-svg-linkedin></app-svg-linkedin>
    LinkedIn
  </a>
  <!-- <a mat-list-item class="side-drawer-close" (click)="onSidenavClose()">
    <app-svg-close></app-svg-close>
    Close
  </a> -->
</mat-nav-list>
