mat-nav-list-item {
  color: #fff;
}

.sidenav-image {
  margin: 16px 34px !important;
}

.sidenav-divider {
  border-top-color: white;
  color: #fff !important;
  padding: 8px 0;
}

.side-nav-link {
  color: #fff !important;
}

// .mat-drawer-inner-container {
//   background-color: #455a64 !important;
// }

.side-drawer-close {
  color: #fff !important;
}

.side-link-social {
  color: #fff !important;
  text-decoration: underline;
  text-decoration-color: #fff;
}

.side-link-active {
  color: rgb(173, 211, 255) !important;
  font-weight: bold;
}
