<head>
  <meta
    name="description"
    content="Posts page uses Angular cards to display some technical posts that can be clicked on to show a more detailed page."
  />
</head>
<div class="responsive-grid" [style.--columns]="columns$ | async">
  <ng-container *ngFor="let post of posts$ | async; trackBy: cardTrackByFn">
    <mat-card
      appearance="outlined"
      class="general-card mat-elevation-z5"
      (click)="onGoToPostDetail(post)"
    >
      <mat-card-content>
        <p class="title-style">{{ post.title }}</p>
        <p class="content-style" style="height: 90px">
          <span class="subtitle-style">{{ post.subtitle }}:</span>
          {{ post.content | slice : 0 : 158 - post.subtitle.length }}...
        </p>
      </mat-card-content>
      <mat-card-actions align="start" class="posts-footer">
        <span class="small-text">
          <app-svg-calender />
          {{ post.published.seconds * 1000 | dateConvert }}
          <app-svg-folder />
          {{ post.category }}
          <app-svg-timer />
          {{ post.content | readTime }} minutes
        </span>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
