<head>
	<meta
		name="description"
		content="Posts page uses Angular cards to display some technical posts that can be clicked on to show a more detailed page." />
</head>

<mat-tab-group
	color="warn"
	backgroundColor="primary"
	mat-align-tabs="start"
	#tabGroup
	[(selectedIndex)]="tabIndex"
	(selectedTabChange)="tabSelected($event)">
	@for (tab of tabs; track tabIndex) {
		<mat-tab [label]="tab" class="post-tab">
			<div
				class="responsive-grid"
				[style.--columns]="BreakpointColumnNr$ | async">
				@for (post of posts$ | async; track trackPostById) {
					<ng-container>
						@if (post.category === tab) {
							<ng-container>
								<mat-card
									appearance="outlined"
									class="general-card mat-elevation-z5"
									(click)="onGoToPostDetail(post)">
									<mat-card-content>
										<p class="title-style">{{ post.title }}</p>
										<p class="content-style">
											<span class="subtitle-style">{{ post.subtitle }}:</span>
											{{
												post.content | slice: 0 : 158 - post.subtitle.length
											}}...
										</p>
									</mat-card-content>
									<mat-card-actions align="start" class="posts-footer">
										<span class="small-text">
											<app-svg-calender />
											{{ post.published.seconds * 1000 | dateConvert }}
											<app-svg-timer class="card-footer-rhs" />
											{{ post.content | readTime }} minutes
										</span>
									</mat-card-actions>
								</mat-card>
							</ng-container>
						}
					</ng-container>
				} @empty {
					<div>Loading...</div>
				}
			</div>
		</mat-tab>
	} @empty {
		<div>Loading...</div>
	}
</mat-tab-group>
