<head>
	<meta
		name="description"
		content="Projects page shows some of my recent projects using Angular cards. From the footer it is possible to navigate to the GitHub code." />
</head>

<mat-tab-group color="warn" backgroundColor="primary" mat-align-tabs="start">
	@for (area of areas; track tabTrackByFn) {
		<mat-tab [label]="area" class="project-tab">
			<div
				class="responsive-grid"
				[style.--columns]="BreakpointColumnNr$ | async">
				@for (project of projects$ | async; track trackProjectById) {
					<ng-container>
						@if (project.area === area) {
							<ng-container>
								<mat-card
									appearance="outlined"
									class="project-card mat-elevation-z5">
									<mat-card-content class="project-card-content">
										<p
											class="project-card-icons"
											*ngFor="let svg of project.svgs">
											<img
												class="project-card-svg"
												src="../assets/svgs/{{ svg }}.svg"
												alt="icon of {{ svg }}" />
										</p>
										<p>
											<span class="project-card-title"
												>{{ project.title }}:</span
											>
											{{ project.content | slice: 0 : 240 }}...
											<a
												class="project-card-link"
												[href]="project.github"
												target="_blank"
												rel="noreferrer"
												aria-label="link to GitHub page"
												><span>View on Github</span>
											</a>
										</p>
									</mat-card-content>
								</mat-card>
							</ng-container>
						}
					</ng-container>
				} @empty {
					<div>Loading...</div>
				}
			</div>
		</mat-tab>
	} @empty {
		<div>Loading...</div>
	}
</mat-tab-group>
