<mat-nav-list>
  <a mat-list-item routerLink="/" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon>Home
  </a>
  <a mat-list-item class="nav-link" routerLink="/about" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>info</mat-icon>About
  </a>
  <a mat-list-item class="nav-link" routerLink="/projects" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>work</mat-icon>Projects
  </a>
  <a mat-list-item class="nav-link" routerLink="/skills" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>build</mat-icon>Skills
  </a>
  <a mat-list-item class="nav-link" routerLink="/blog" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>create</mat-icon>Blog
  </a>
  <a mat-list-item class="nav-link social" href="https://www.linkedin.com/andrew_bateman" target="_blank" rel="noreferrer">
    <mat-icon>link</mat-icon>LinkedIn
  </a>
  <a mat-list-item class="nav-link social" href="https://www.linkedin.com/andrew_bateman" target="_blank" rel="noreferrer">
    <mat-icon>link</mat-icon>Github
  </a>
  <a mat-list-item class="nav-link" routerLink="/contact" routerLinkActive="active" (click)="onSidenavClose()">
    <mat-icon>email</mat-icon>Contact
  </a>
  <!-- <a mat-list-item (click)="onSidenavClose()">
    <mat-icon>close</mat-icon>Close
  </a> -->
</mat-nav-list>
