<mat-nav-list>
  <a
    mat-list-item
    class="side-nav-link"
    routerLink="/home"
    routerLinkActive="side-link-active"
    (click)="onSidenavClose()"
  >
    <mat-icon>home</mat-icon>AB
  </a>
  <a
    mat-list-item
    class="side-nav-link"
    routerLink="/projects"
    routerLinkActive="side-link-active"
    (click)="onSidenavClose()"
  >
    <mat-icon>work</mat-icon>Projects
  </a>
  <a
    mat-list-item
    class="side-nav-link"
    routerLink="/skills"
    routerLinkActive="side-link-active"
    (click)="onSidenavClose()"
  >
    <mat-icon>computer</mat-icon>Skills
  </a>
  <a
    mat-list-item
    class="side-nav-link"
    routerLink="/contact"
    routerLinkActive="side-link-active"
    (click)="onSidenavClose()"
  >
    <mat-icon>email</mat-icon>Contact
  </a>
  <a
    mat-list-item
    class="side-link-social"
    href="https://www.github.com/andrewjbateman"
    target="_blank"
    rel="noreferrer"
  >
    <mat-icon>open_in_new</mat-icon>Github
  </a>
  <a
    mat-list-item
    class="side-link-social"
    href="https://www.linkedin.com/in/andrew-bateman"
    target="_blank"
    rel="noreferrer"
  >
    <mat-icon>open_in_new</mat-icon>LinkedIn
  </a>
  <a mat-list-item class="nav-link-social" href="../../../assets/images/AndrewBatemanResume.pdf" target="_blank" rel="noreferrer">
    <mat-icon>cloud_download</mat-icon> CV
  </a>
  <a
    mat-list-item
    class="side-nav-link"
    routerLink="/blog"
    routerLinkActive="side-link-active"
    (click)="onSidenavClose()"
  >
    <mat-icon>description</mat-icon>Blog
  </a>
  <a mat-list-item (click)="onSidenavClose()">
    <mat-icon>close</mat-icon>Close
  </a>
</mat-nav-list>
