mat-nav-list-item {
  color:#fff;
}

mat-icon {
  padding: 0 8px;
}

.side-nav-link {
  color: #fff !important;
}

.side-link-social {
  padding: 16px 0;
  color: #fff !important;
}

.side-link-active {
  color: rgb(173, 211, 255) !important;
  font-weight: bold;
}
