// Notes on the Side Navbar classes:
//
// 1. all side-nav-links are grey - good contrast with white background.
//
// 2. An active link is purple-brown - good contrast with white background.

mat-icon {
  padding: 0 8px;
}

.social {
  padding: 16px 0;
}

.side-nav-link {
  color: #455A64;
}

.side-link-active {
  color: #690726;
  font-weight: bold;
}
