mat-nav-list-item {
  color: #fff;
}

.side-nav-link {
  color: #fff !important;
}

.mat-drawer {
  background-color: #455A64
}

.side-link-social {
  padding: 16px 0;
  color: #fff !important;
}

.side-link-active {
  color: rgb(173, 211, 255) !important;
  font-weight: bold;
}
