<head>
  <meta
    name="description"
    content="Post detail page shows the full text of the post. The author can also log in to edit or delete the post"
  />
</head>

<ng-container *ngIf="post">
  <!--post editing page visible when editing -->
  <div [hidden]="!editing">
    <mat-card>
      <h1 color="primary">Edit Post</h1>
      <mat-form-field>
        <input
          matInput
          placeholder="Post title"
          [(ngModel)]="post.title"
          name="title"
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          placeholder="Post Subtitle"
          [(ngModel)]="post.subtitle"
          name="subtitle"
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          placeholder="Image Credit"
          [(ngModel)]="post.imageby"
          name="imageby"
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <input
          matInput
          placeholder="Image Link"
          [(ngModel)]="post.imageLink"
          name="imageLink"
        />
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label
          >Select Category ({{ post.category }} currently selected)</mat-label
        >
        <mat-select
          [(ngModel)]="post.category"
          [(value)]="selectedCategory"
          name="category"
        >
          <mat-option value="Dev">Dev (Programming Development)</mat-option>
          <mat-option value="IT">IT (Information Technology)</mat-option>
          <mat-option value="Eng">Eng (Engineering)</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field>
        <textarea
          matInput
          placeholder="Post content"
          [(ngModel)]="post.content"
          name="content"
          rows="30"
        ></textarea>
      </mat-form-field>
      <br />
      <div class="bottom-button-row">
        <button
          mat-flat-button
          color="accent"
          (click)="updatePost()"
          aria-label="Update post"
        >
          Save
        </button>
        <button
          mat-flat-button
          color="primary"
          (click)="editing = false"
          *ngIf="editing"
          aria-label="Cancel changes"
        >
          Cancel
        </button>
      </div>
    </mat-card>
  </div>

  <!--post detail page visible when NOT editing -->
  <div [hidden]="editing">
    <mat-card class="mat-elevation-z1">
      <img mat-card-image src="{{ post.image }}" alt="{{ post.title }}" />

      <mat-card-header>
        <div
          mat-card-avatar
          class="header-image"
          alt="photo of Andrew Bateman"
        ></div>
        <mat-card-title class="post-title">
          {{ post.title }}
        </mat-card-title>
        <mat-card-subtitle class="post-subtitle">
          {{ post.subtitle }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p class="post-content">{{ post.content }}</p>
        <span>
          <a
            class="credit-date-text"
            href="{{ post.imageLink }}"
            target="_blank"
            rel="noreferrer"
          >
            <mat-icon color="accent">photo_camera</mat-icon> {{ post.imageby }}
          </a>
          <div fxFlex></div>
          <p class="credit-date-text">
            <mat-icon color="accent">folder_open</mat-icon> {{ post.category }}
          </p>
          <div fxFlex></div>
          <p class="credit-date-text">
            <mat-icon color="accent">today</mat-icon>
            {{ post.published.toDate() | dateConvert }}
          </p>
        </span>
      </mat-card-content>
      <hr class="horiz-line" />

      <mat-card-actions align="end">
        <button
          mat-flat-button
          color="accent"
          (click)="returnToList()"
          aria-label="Back button"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div fxFlex></div>
        <div>
          <a
            mat-flat-button
            (click)="editing = true"
            color="primary"
            aria-label="Go back to list of posts"
            ><mat-icon>edit</mat-icon></a
          >
        </div>
        <div fxFlex></div>
        <div>
          <a
            mat-flat-button
            (click)="delete()"
            color="warn"
            aria-label="Delete post"
            ><mat-icon>delete</mat-icon></a
          >
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>
