<head>
  <meta name="description"
    content="Post detail page shows the full text of the post. The author can also log in to edit or delete the post" />
</head>

<ng-container *ngIf="post">
  <div>
    <mat-card class="mat-elevation-z1">
      <img mat-card-image src="{{ post.image }}" alt="{{ post.title }}" />

      <mat-card-header>
        <div mat-card-avatar class="header-image" alt="photo of Andrew Bateman"></div>
        <mat-card-title class="post-title">
          {{ post.title }}
        </mat-card-title>
        <mat-card-subtitle class="post-subtitle">
          {{ post.subtitle }}
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p class="post-content">{{ post.content }}</p>
        <span>
          <a class="mat-card-text" href="{{ post.imageLink }}" target="_blank" rel="noreferrer">
            <app-svg-camera></app-svg-camera>
            {{ post.imageby }}
          </a>
          <div fxFlex></div>
          <p class="credit-date-text">
            <app-svg-folder></app-svg-folder>
             {{ post.category }}
          </p>
          <div fxFlex></div>
          <p class="credit-date-text">
            <app-svg-calender></app-svg-calender>
            {{ post.published.seconds * 1000 | date:'dd/MMM/yyyy' }}
          </p>
        </span>
      </mat-card-content>
      <hr class="horiz-line" />

      <mat-card-actions align="left">
        <button mat-raised-button (click)="returnToList()" class="post-button-back" aria-label="Back button">
          Back
        </button>
        <div fxFlex></div>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>