@import "../../../theme.scss";

mat-card {
  margin: 0 auto;
  max-width: 700px;
  padding: 16px 16px 20px 16px;
}
mat-card-img {
  max-width: 100%;
  margin: 0;
}
mat-form-field {
  width: 100%;
}
mat-card-actions {
  margin: auto;
}
.credit-date-text {
  color: #0d47a1;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

mat-card-header {
  margin: 0 !important;
  padding: 0;
  font-size: 18px !important;
}

mat-card-header-text {
  margin-left: 0 !important;
}

mat-card-title {
  font-size: 18px;
}

.post-title {
  margin-left: 0 !important;
  color: #0d47a1;
}

.post-content {
  margin: 16px 0;
  white-space: pre-wrap;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}