@import "../../../theme.scss";

mat-card {
  margin: 0 auto;
  max-width: 800px;
  padding: 16px 16px 20px 16px;
}
mat-card-img {
  max-width: 100%;
  margin: 0;
}
mat-form-field {
  width: 100%;
}
mat-card-actions {
  margin: auto;
}

.mat-icon {
  vertical-align: middle;
}

.credit-date-text {
  color: #0d47a1;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

mat-card-header {
  margin: 0 !important;
  padding: 0;
  font-size: 18px !important;
}

.bottom-button-row button {
  margin-right: 16px;
}

.post-title {
  color: #0d47a1;
  font-size: 20px !important;
  margin: 0 0 4px !important;
}

.post-subtitle {
  color: #0d47a1;
  font-size: 16px !important;
  margin: 0 !important;
  text-decoration: underline;
  text-decoration-color: #008000;
}

.post-content {
  margin: 16px 0 !important;
  white-space: pre-wrap;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.header-image {
  background-image: url("/assets/images/me-outside.jpg");
  background-size: cover;
}

.horiz-line {
  border: 1px solid #008000;
  margin: 0 0 8px !important;
}
