@import "../../../theme.scss";

mat-card {
  margin: 0 auto;
  max-width: 700px;
}
mat-card-img {
  max-width: 100%;
  margin: 0;
}
mat-form-field {
  width: 100%;
}
mat-card-actions {
  padding: 0;
}
.small-text {
  color: #0d47a1;
  font-size: 14px;
  padding: 0 16px;
}
mat-card-header {
  margin: 0;
  text-align: center;
}

.post-content {
  white-space: pre-wrap;
  // padding: 0 16px;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

.photo-credit {
  padding: 0;
}
