<head>
	<meta
		name="description"
		content="posts detail page uses an Angular card to display technical post in detail" />
</head>

<div class="post-detail-container">
	<mat-card appearance="outlined" class="post-card mat-elevation-z1">
		@if (imageData$ | async; as imageData) {
			<ngx-picture
				mat-card-image
				[lazyLoad]="true"
				[src]="imageData.urls.small"
				alt="Unsplash image"
				class="card-image">
			</ngx-picture>
			<p class="image-text">
          <a href="http://www.unsplash.com" target="_blank" rel="noreferrer">Unsplash</a> image: @if (imageData.description) {
            <span>"{{imageData.description}}"</span> } by {{ imageData.user.name }}</p>
		}

		@if (postDetails) {
			<mat-card-content>
				<p class="card-title">{{ postDetails!.title }}</p>
				<p class="card-content">
					<span class="card-subtitle">{{ postDetails!.subtitle }}:</span>
					{{ postDetails!.content }}
				</p>
			</mat-card-content>
		}
		<mat-card-actions align="start" class="post-footer">
			<span class="small-text">
				<button mat-raised-button (click)="onNavigateBackToPosts()">
					<span style="color: #fff">Back to Grid</span>
				</button>
			</span>
		</mat-card-actions>
	</mat-card>
</div>
