<head>
  <meta
    name="description"
    content="Blog detail page uses an Angular card to display technical post in detail"
  />
</head>

<div class="post-detail-container">
  <!--mat-card for each post with data-binding from post.ts-->
  <mat-card appearance="outlined" class="post-card mat-elevation-z1">
    <ngx-picture
      *ngIf="imageData$ | async as imageData"
      mat-card-image
      [lazyLoad]="true"
      [src]="imageData.body.urls.small"
      alt="{{ imageData.body.alt_description }}"
      class="card-image"
    >
    </ngx-picture>
    <mat-card-content *ngIf="post">
      <p class="card-title">{{ post!.title }}</p>
      <p class="card-content">
        <span class="card-subtitle">{{ post!.subtitle }}:</span>
        {{ post!.content }}
      </p>
    </mat-card-content>
    <mat-card-actions align="start" class="post-footer">
      <span class="small-text">
        <button mat-raised-button (click)="onNavigateBackToPosts()">
          <span style="color: #fff">Back to Grid</span>
        </button>
      </span>
    </mat-card-actions>
  </mat-card>
</div>
