<head>
  <meta
    name="description"
    content="Blog detail page uses an Angular card to display technical post in detail"
  />
</head>

<div class="post-detail-container">
  <!--mat-card for each post with data-binding from post.ts-->
  <mat-card class="mat-card mat-elevation-z1">
    <img
      mat-card-image
      [src]="post.image"
      [alt]="post.title"
      class="card-image"
    />
    <mat-card-content>
      <p class="title-style">{{ post.title }}</p>
      <p class="content-style">
        <span class="subtitle-style">{{ post.subtitle }}:</span>
        {{ post.content }}
      </p>
      <p>
        <span class="small-text">
          <a (click)="onNavigateBackToPosts()" target="_blank" rel="noreferrer">
            <!-- <app-svg-list></app-svg-list> -->

            <app-svg-back></app-svg-back>Back
          </a>

          <div fxFlex></div>
          <a
            href="{{ post.imageLink }}"
            target="_blank"
            rel="noreferrer"
          >
            <app-svg-camera></app-svg-camera>
            {{ post.imageby }}
          </a>
          <div fxFlex></div>
          <p>
            <app-svg-timer></app-svg-timer>
            {{ post.published.toDate() | dateConvert }}
          </p>
        </span>
      </p>
    </mat-card-content>
  </mat-card>
</div>
