.post-detail-container {
  margin: 16px auto auto;
  max-width: 700px;

  // Card styling
  .mat-card {
    max-width: 700px;
  }
  .mat-card-image {
    flex-shrink: 0;
  }

  .title-style {
    margin: 0 0 4px;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: #68a1e2;
    text-decoration-thickness: 2px;
  }

  .subtitle-style {
    font-size: 14px;
    font-weight: 700;
  }

  .content-style {
    white-space: pre-wrap;
    margin: 0 0 8px;
  }

  .small-text {
    font-size: 14px !important;
  }

  .image-div {
    position: relative;
    text-align: center;
    color: white;
  }
}
