body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card-header-text {
  width: 100% !important;
}

// common horiz line
.horiz-line {
  margin: 8px;
  border: 2px solid #008000;
}
