mat-card-image {
  margin: auto 0 0;
  display: block;
  max-width: 100%;
}

mat-icon {
  font-size: 18px;
  margin: 0 4px 0 0;
  height: 18px;
  width: 18px;
}

mat-card-actions {
  padding: 0;
  color: #0D47A1;
  font-size: 12px !important;
}

.title-style {
  color: #0D47A1;
  margin: 0 0 4px;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-color: rgb(245, 200, 241);
}

.subtitle-style {
  color: #0D47A1;
  font-size: 14px;
  // margin: 0 0 8px;
  // font-size: 14px;
  // text-decoration: underline;
  // text-decoration-color: rgb(245, 200, 241);
}

.content-style {
  white-space: pre-wrap;
  margin: 0 0 8px;
  // margin: 0;
}

.small-text {
  color: #0D47A1;
  font-size: 14px !important;
}