// Card styling
.mat-card-image {
  flex-shrink: 0;
}

mat-icon {
  font-size: 18px;
  margin: 0 4px 0 0;
  height: 18px;
  width: 18px;
}

.title-style {
  margin: 0 0 4px;
  font-size: 18px;
}

.subtitle-style {
  font-size: 14px;
}

.content-style {
  white-space: pre-wrap;
  margin: 0 0 8px;
}

.small-text {
  font-size: 14px !important;
}

.image-div {
  position: relative;
  text-align: center;
  color: white;
}
