mat-card-image {
  margin: auto 0 0;
  display: block;
  max-width: 100%;
}

mat-icon {
  font-size: 18px;
  margin-left: 0;
}

mat-card-actions {
  padding: 0;
  color: #0D47A1;
  font-size: 12px !important;
}

.strong-style {
  color: #0D47A1;
  margin: 0 0 8px;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-color: rgb(245, 200, 241);
}

.content-style {
  white-space: pre-wrap;
  margin: 0 0 8px;
}

.small-text {
  color: #0D47A1;
  font-size: 14px !important;
}
