<head>
  <meta
    name="description"
    content="Blog page uses Angular cards to display some technical posts that can be clicked on to show a more detailed page."
  />
</head>

<div fxFlex fxLayout="column" fxLayoutGap="10px">
  <div fxLayout="row wrap">
    <div
      *ngFor="let post of posts | async; trackBy: trackByFn"
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px"
    >
      <!-- <ng-container *ngIf="post.category === 'Dev'"> -->

      <!--mat-card for each post with data-binding from post.ts-->
      <mat-card class="mat-elevation-z1" routerLink="{{ post.id }}">
        <mat-card-content>
          <p class="title-style">{{ post.title }}</p>
          <p class="content-style" style="height: 90px">
            <span class="subtitle-style">{{ post.subtitle }}:</span>
            {{ post.content | slice: 0:158 - post.subtitle.length }}...
          </p>
          <p>
            <span class="small-text">
              <app-svg-calender></app-svg-calender>
              {{ post.published.toDate() | dateConvert }}
              <div fxFlex></div>
              <app-svg-folder></app-svg-folder>
              {{ post.category }}
              <div fxFlex></div>
              <app-svg-timer></app-svg-timer>
              {{ post.content | readTime }} minutes
            </span>
          </p>
        </mat-card-content>
      </mat-card>
      <!-- </ng-container> -->
    </div>
  </div>
</div>
