<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 100vh">
  <div fxLayout="row wrap">
    <div
      *ngFor="let post of posts | async"
      fxFlex="25"
      fxFlex.md="33"
      fxFlex.sm="50"
      fxFlex.xs="100"
      fxLayout="column"
      style="padding: 5px;"
    >
      <mat-card class="mat-elevation-z1" routerLink="{{ post.id }}">
        <div class="image-div">
          <img mat-card-image class="img" src="{{ post.image }}" alt="{{ post.title }}">
          <div class="photo-credit">Photo by {{ post.imageby }}</div>
        </div>
        <mat-card-content>
          <p class="title-style">{{ post.title }}</p>
          <p class="content-style" style="height:90px">
            <span class="subtitle-style">{{ post.subtitle }}:</span>
            {{ post.content | slice:0:(158 - post.subtitle.length) }}...
          </p>
          <p>
            <span class="small-text">
              <mat-icon color="accent">calendar_today</mat-icon>
              {{ post.published.toDate() | dateConvert }}
              <div fxFlex></div>
              <mat-icon color="accent">folder_open</mat-icon>
              {{ post.category }}
              <div fxFlex></div>
              <mat-icon color="accent">timer</mat-icon>
              {{ post.content | readTime }} minutes
            </span>
          </p>
        </mat-card-content>             
      </mat-card>
    </div>
  </div>
</div>
