mat-card {
  margin: 5px;
  padding: 8px;
}

.card-title-image {
  // background-image: url('../../assets/images/angular.png');
  background-size: cover;
}

.home-container {
  margin-top: 16px;
}

.main-heading {
  text-align: center;
  color: #0D47A1;
  margin: 0;
  text-decoration: underline;
  text-decoration-color: rgb(245, 200, 241);
}

.main-subheading {
  text-align: center;
  color: #455A64;
  margin-bottom: 0;
  font-size: 14px;
}

.me-heading {
  text-align: left;
  color: #0D47A1;
  margin: 0 12px 0;
  text-decoration: underline;
  text-decoration-color: rgb(245, 200, 241);
}

.main-para {
  margin: 0 12px 12px;
}

.img-thumbnail {
  display: block;
  width: 80%;
  height: auto;
  margin: 0 auto 8px;
  position: center;
  border-radius: 50%;
}

.repo-text {
  color: #0D47A1;
  font-size: larger;
}

.horiz-line {
  margin: 1em;
  border: 2px solid rgb(245, 200, 241);
}

.title-style {
  color: #0D47A1;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-color: rgb(245, 200, 241);
}

.content-style {
  white-space: pre-wrap;
}
