mat-card {
  margin: 5px;
  padding: 8px;
}

.main-heading {
  text-align: center;
  margin: 8px auto 0 auto;
}

.main-subheading {
  text-align: center;
  color: #455A64;
  margin-bottom: 0;
}

.me-heading {
  text-align: left;
  margin: 13px;
}

.main-para {
  margin: 13px;
}

.img-thumbnail {
  display: block;
  width: 70%;
  height: auto;
  margin: 20px auto;
  position: center;
  border-radius: 50%;
}

.repo-text {
  color: #0D47A1;
}

.horiz-line {
  margin: 1em;
  border: 2px solid rgb(245, 200, 241)
}
