<div class="main-div">
  <img class="circle-avatar" src="/assets/images/about-profile.jpg" alt="photo of Andrew Bateman">
  <div class="card">
    <h1>Andrew Bateman</h1>
    <h2>Programmer | Engineer</h2>
    <p style="text-align: center">I am a programmer with a background in Electrical Engineering. This website explains my technical background and what I have learnt and built in the past few years of studying programming.<p> 
      
    <div>
      <p *ngIf="profile">I currently have <span class="repo-text"> {{ repos }} </span> Github Repositories:</p>
    </div>

  </div> 
</div>


