img.circle-avatar {
  display: block;
  margin: 0 auto;
  width: 30%;
  height: auto;
  border-radius: 50%;
  }

.main-div {
  background-color: white;
  height: 100vh;
  justify-content: center;
  padding: 16px;
}
div.col-md > p {
  text-align: center;
}

div.col-md > div > img {
  float: left;
  margin-right: 2%;
}

div.text-canvas {
  margin: 1em;
}

h1 {
  text-align: center;
  margin-bottom: 0;
}

h2 {
  text-align: center;
  margin-top: 8px;
}

.repo-text {
  color: blue;
}

@media (max-width: 995px){
  img.circle-avatar {
    display: block;
    margin: 0 auto;
    width: 55%;
    height: auto;
    border-radius: 50%;
  }
}

@media (max-width: 479px){
  img.circle-avatar {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: auto;
    border-radius: 50%;
  }

  div.col-md > div > img {
    float: left;
    margin-right: 2%;
    width: 30%;
  }
}

